<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.adobe.flexbuilder.debug.launchConfigurationType.flash">
<stringAttribute key="com.adobe.flexbuilder.debug.ATTR_APPLICATION" value="src/FaceDetactor.as"/>
<stringAttribute key="com.adobe.flexbuilder.debug.ATTR_PROJECT" value="FaceDetactor"/>
<stringAttribute key="com.adobe.flexbuilder.debug.ATTR_RUN_URL" value="E:\DingTest\FaceDetactor\bin-debug\FaceDetactor.swf"/>
<booleanAttribute key="com.adobe.flexbuilder.debug.ATTR_USE_DEFAULT_URLS" value="false"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/FaceDetactor"/>
<listEntry value="/FaceDetactor/src/FaceDetactor.as"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
<listEntry value="1"/>
</listAttribute>
</launchConfiguration>
